<div class="row">
    <h2>Vocabulary</h2>
    <hr />
</div>
<div class="row">
    <div class="col-xs-12 col-sm-6">
        <form name="addVocabularyForm" novalidate>
            <div class="form-group">
                <label class="required">Word </label>
                <input type="text" class="form-control" ng-model="model.newVocabularyModel.word" required>
            </div>
            <div class="form-group">
                <label class="required">Transcribe</label>
                <input type="text" class="form-control" ng-model="model.newVocabularyModel.transcribe" required>
            </div>
            <div class="form-group">
                <label class="required">Meaning</label>
                <input type="text" class="form-control" ng-model="model.newVocabularyModel.meaning" required>
            </div>
            <div class="form-group">
                <label class="required">Example sentences</label>

                <div class="form-group" ng-repeat="sentence in model.newVocabularyModel.sentences">
                    <div class="input-group">
                        <textarea class="form-control" ng-model="sentence.value" required></textarea>
                        <span class="input-group-addon glyphicon glyphicon-remove" ng-click="model.removeSentence($index)"></span>
                    </div>
                </div>

                <a ng-click="model.addMoreSentences()"><span class="glyphicon glyphicon-plus"></span>Add more sentence</a>
            </div>


            <button type="submit" class="btn btn-default btn-success"
                    ng-click="model.saveVocabulary()"
                    ng-disabled="addVocabularyForm.$invalid">
                Save
            </button>

        </form>
    </div>
</div>