<div class="row">
    <div class="col">
        <h4>Featured Orders</h4>
        <ul class="list-group">
            <a href="" class="list-group-item list-group-item-action" ng-repeat="order in items"
                ng-click="$parent.selectFeaturedOrder(order)"
                ng-class="{active: order.key === $parent.selectedFeaturedOrder.key}">
                <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1">{{order.name || "Toocha trà sữa ko mập"}}</h5>
                    <span class="badge badge-success badge-pill">{{order.count || 0}}</span>
                </div>
                <span class="mb-1">{{order.menuUrl | maxLength:100}}
                    <span class="fa-pull-right">
                        <i class="fas fa-cart-plus" ng-click="$parent.createOrder(order, $event)"></i>

                        <i class="fas fa-trash-alt" ng-click="$parent.removeFeaturedOrder(order, $event)"></i>
                    </span>
                </span>
            </a>
        </ul>
    </div>
</div>