<fieldset class="fieldset-border">
    <legend><small>Create/Update Order</small> </legend>
    <form>
        <div class="form-group">
            <label for="exampleInputEmail1">Name</label>
            <input type="text" class="form-control" placeholder="Toocha" ng-model="order.name">
        </div>

        <div class="form-group">
            <label for="exampleInputEmail1">Menu</label>
            <input type="text" class="form-control" placeholder="https://foody.com/" ng-model="order.menuUrl">
        </div>

        <div class="form-group">
            <label for="exampleFormControlFile1">Upload Menu Image</label>
            <file-upload on-change="onFileUploadChange({ imgSrc: imgSrc })"></file-upload>
        </div>

        <div class="form-row">
            <div class="form-group col-md-4">
                <label for="exampleInputEmail1">Discount (%)</label>
                <input type="text" class="form-control" placeholder="5%" ng-model="order.discount">
            </div>
            <div class="form-group col-md-4">
                <label for="exampleInputEmail1">Discount Max (VND)</label>
                <input type="text" class="form-control" placeholder="50.000" ng-model="order.discountMax">
            </div>
            <div class="form-group col-md-4">
                <label for="exampleInputEmail1">Shipping Fee (VND)</label>
                <input type="text" class="form-control" placeholder="20.000" ng-model="order.shippingFee">
            </div>
        </div>
        <div class="form-group" ng-if="user.email === 'duylamln@gmail.com' || user.email == 'dung.nguyen@travel2pay.com'">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="defaultCheck1"
                    ng-model="order.withdrawFromAccountBalance">
                <label class="form-check-label" for="defaultCheck1">
                    Withdraw from account balance
                </label>
            </div>
        </div>

        <button type="submit" class="btn btn-primary" ng-disabled="!order.menuUrl" ng-click="saveOrder()">
            Submit
        </button>
        <button type="submit" class="btn btn-warning" ng-click="clearOrder()">
            Clear form/New Order
        </button>
    </form>
</fieldset>