<h4>Transaction List</h4>
<table class="table none-border-top table-hover">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Date</th>
            <th scope="col">Desc.</th>
            <th scope="col">Amount</th>
            <th scope="col">Balance</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="tran in transactions" ng-click="toggleAccount(account)">
            <td>{{$index + 1}}</td>
            <td>{{tran.createdDate | momentDate:'DD.MM.YYYY'}}</td>
            <td>{{tran.desc}}</td>
            <td>{{tran.method === 'DEPOSIT' ? '+' : '-'}}{{tran.amount | currency: "":0 }}</td>
            <td>{{tran.balance  | currency: "":0 }}</td>
            <td>
                <!-- <i class="fas fa-trash-alt" role="button" tabindex="0"
                    confirm-click="Are you sure to delete this account ?" confirmed-click="removeAccount(account)"></i>
                <i class="fas fa-list" role="button" tabindex="0" ng-click="viewTransactions(account, $event)"></i> -->
            </td>
    </tbody>
</table>