<div class="panel panel-default">
    <div class="panel-heading">
        <span class="h4" ng-bind="trackerDetailCtrl.selectedDate.format('dddd MMM D, YYYY')"></span>
    </div>
    <div class="panel-body" cg-busy="trackerDetailCtrl.promise">
        <form name="trackerDetailForm">
            <div class="row">
                <div class="col-lg-4">
                    <select class="form-control" ng-model="trackerDetailCtrl.selectedTracker.action" ng-options="item for item in trackerDetailCtrl.appSettings.actions" ng-change="trackerDetailCtrl.actionChanged()" ng-required></select>
                </div>
                <div class="col-lg-3">
                    <timepicker ng-model="trackerDetailCtrl.selectedTracker.date" hour-step="1" minute-step="1" show-meridian="false"></timepicker>
                </div>
                <div class="col-lg-5 pull-right">
                    <button type="button" class="btn btn-success" ng-click="trackerDetailCtrl.addOrUpdateTracker()">
                        <span class="glyphicon" ng-class="{'glyphicon-plus': trackerDetailCtrl.editMode === false, 'glyphicon-ok':trackerDetailCtrl.editMode === true}" ></span> {{trackerDetailCtrl.editMode === false ? 'Add' : 'Update' }}
                    </button>
                    <button type="button" class="btn btn-warning" ng-click="trackerDetailCtrl.clearSelection()">
                        <span class="glyphicon glyphicon-remove"></span> Clear Selection
                    </button>
                </div>

            </div>
        </form>

        <table class="table tracker-detail">
            <thead>
                <tr>
                    <th class="tracker-detail-action">Action</th>
                    <th class="tracker-detail-time">Time</th>
                    <th class="tracker-detail-button"></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="tracker in trackerDetailCtrl.trackers" ng-class="{active: tracker.active}" ng-click="trackerDetailCtrl.activeTracker(tracker)">
                    <td>
                        <span ng-bind="tracker.action" ng-show="!tracker.isEditing"></span>
                    </td>
                    <td class="tracker-detail-time">
                        <span ng-bind="tracker.date | date:'HH:mm'" ng-if="!tracker.isEditing">
                        </span>
                    </td>
                    <td class="tracker-detail-button">
                        <button type="button" class="btn btn-danger pull-right" ng-click="trackerDetailCtrl.removeTracker(tracker)"><span class="glyphicon glyphicon-remove"></span> Delete</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
