<div class="row" style="margin-top: 50px;">
    <div class="col-3">
        <h2>My account</h2>
        <form>
            <div class="form-group">
                <label>Display Name</label>
                <input type="text" class="form-control" ng-model="model.user.displayName" placeholder="Lam Lê">

            </div>
            <div class="form-group">
                <label>Email</label>
                <input type="email" class="form-control" ng-model="model.user.email" placeholder="Lam Lê" readonly>

            </div>
            <div class="form-group">
                <label>Open Project API Key</label>
                <input type="text" class="form-control" ng-model="model.user.userInfo.openProjectAPIKey" />
            </div>
            <div class="form-group">
                <label>Balance</label>
                <h4>{{model.user.account.balance | currency:'VND ':0}}</h4>
            </div>

            <button type="submit" class="btn btn-primary" ng-click="model.saveUserProfile()">Submit</button>
        </form>
    </div>
    <div class="col-lg-5">
        <transaction-list transactions="model.transactions"></transaction-list>
    </div>
</div>