<div class="order" ng-cloak>
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm">
                <div class="row">
                    <div class="col" ng-if="model.trustedWebsiteUrl">
                        <iframe class="order-website" ng-src="{{model.trustedWebsiteUrl}}"></iframe>
                    </div>
                    <div class="col" ng-if="!model.trustedWebsiteUrl">
                        Nothing to show
                    </div>
                </div>
            </div>


            <div class="col-sm">
                <div class="row" ng-if="model.selectedOrder">
                    <div class="col">
                        <h4>
                            {{model.selectedOrder.name}}
                        </h4>

                        <order-info order="model.selectedOrder"></order-info>
                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Name</th>
                                    <th scope="col">Order</th>
                                    <th scope="col">Price</th>
                                    <!--<th scope="col">Dst Price</th>-->
                                    <th scope="col">Dst.ed Price</th>
                                    <th scope="col">Final Price</th>
                                    <th scope="col" ng-if="model.selectedOrder.status === 'active'">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="orderDetail in model.selectedOrder.detail" ng-class="{'table-danger': model.selectedOrder.withdrawFromAccountBalance && !orderDetail.transactionStatus}">
                                    <td  >{{$index + 1}}</td>
                                    <td>{{orderDetail.name}}</td>
                                    <td>{{orderDetail.desc}}</td>
                                    <td>{{orderDetail.price | currency: "":0}}</td>
                                    <!--<td>{{orderDetail.discountPrice | currency: "":0}}</td>-->
                                    <td>{{orderDetail.discountedPrice | currency: "":0}}</td>
                                    <td>{{orderDetail.finalPrice | currency: "":0}}</td>
                                    <td ng-if="model.selectedOrder.status === 'active'">
                                        <i class="fas fa-edit"
                                            ng-click="model.editOrderDetail($index, orderDetail)"></i>
                                        <i class="fas fa-trash-alt" ng-click="model.removeOrderDetail($index)"></i>
                                    </td>
                                </tr>
                                <tr ng-if="model.selectedOrder.detail && model.selectedOrder.detail.length > 0">
                                    <td colspan="3" class="text-center">Total</td>
                                    <td>{{model.selectedOrder.totalPrice | currency: "":0 }}</td>
                                    <td>{{model.selectedOrder.totalDiscountedPrice | currency: "":0 }}</td>
                                </tr>
                                <tr ng-if="model.selectedOrder.detail && model.selectedOrder.detail.length > 0">
                                    <td colspan="3" class="text-center"><strong>Total (included shipping fee)</strong>
                                    </td>
                                    <td><strong>{{model.selectedOrder.totalPriceWithShippingFee | currency: "":0 }}</strong>
                                    </td>
                                    <td><strong>{{model.selectedOrder.totalDiscountedPriceWithShippingFee | currency: "":0 }}</strong>
                                    </td>
                                    <td><strong>{{model.selectedOrder.totalFinalPrice | currency: "":0 }}</strong></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="row" ng-if="model.selectedOrder && model.selectedOrder.status === 'active'"
                    style="margin-top: 40px">
                    <div class="col-6">
                        <fieldset class="fieldset-border">
                            <legend>Order Detail:</legend>
                            <form>
                                <div class="form-group">
                                    <label>Name</label>
                                    <input type="text" class="form-control" placeholder="your name"
                                        ng-model="model.orderDetail.name">
                                </div>
                                <div class="form-group">
                                    <label>Order</label>
                                    <input type="text" class="form-control" placeholder="would you like something ?"
                                        ng-model="model.orderDetail.desc">
                                </div>
                                <div class="form-group">
                                    <label>Price</label>
                                    <input type="number" class="form-control" placeholder="e.g. 54.000"
                                        ng-model="model.orderDetail.price">
                                </div>
                                <button type="submit" class="btn btn-primary" ng-click="model.submitOrderDetail()"
                                    ng-disabled="!model.orderDetail.name || !model.orderDetail.desc">
                                    Submit
                                </button>
                            </form>
                        </fieldset>
                    </div>
                    <div class="col-6" ng-if="model.selectedOrder.detail">
                        <h4>Order Group</h4>
                        <table class="table">
                            <tr ng-repeat="(key, value) in model.selectedOrder.detail | groupBy: 'desc'"
                                ng-if="model.selectedOrder.detail && model.selectedOrder.detail.length > 0">
                                <td colspan="3">{{key}}</td>
                                <td>{{value.length}}</td>
                            </tr>
                            <tr>
                                <td colspan="3"><b>Total</b></td>
                                <td><b>{{model.selectedOrder.detail.length}}</b></td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>